variables:
  ASAN_SYMBOLIZER_PATH: "/usr/bin/llvm-symbolizer"

# GCC 5 production
gcc-5-release:
  script:
    - export BOOST_ROOT=/opt/boost_1_60_0-gcc-5
    - git submodule update --init --recursive
    - mkdir -p build-gcc-5
    - cd build-gcc-5
    - cmake -DCMAKE_BUILD_TYPE=Release -DNO_SSL=true ..
    - make -j8 motis-test motis-itest motis motis-eval motis-cli
    - ./motis --mode test
              --dataset.path ../base/loader/test_resources/hrd_schedules/single-ice
              --dataset.begin 20151111
              --dataset.write_serialized false
              --listen.ws false
    - ./motis-test
    - ./motis-itest

# Clang 3.8 debug with address sanitizer
clang-3.8-debug-asan:
  script:
    - export CXXFLAGS="-fsanitize=address -fno-omit-frame-pointer"
    - export BOOST_ROOT=/opt/boost_1_60_0-clang-3.8
    - export CXX=clang++-3.8
    - export CC=clang-3.8
    - git submodule update --init --recursive
    - mkdir -p build-asan
    - cd build-asan
    - cmake -DCMAKE_BUILD_TYPE=Debug -DNO_SSL=true ..
    - make -j8 motis-test motis-itest motis motis-eval motis-cli
    - ./motis --mode test
              --dataset.path ../base/loader/test_resources/hrd_schedules/single-ice
              --dataset.begin 20151111
              --dataset.write_serialized false
              --listen.ws false
    - ./motis-test
    - ./motis-itest


# Clang 3.8 debug with thread sanitizer
clang-3.8-debug-tsan:
  script:
    - export CXXFLAGS="-fsanitize=thread -fno-omit-frame-pointer"
    - export BOOST_ROOT=/opt/boost_1_60_0-clang-3.8
    - export CXX=clang++-3.8
    - export CC=clang-3.8
    - git submodule update --init --recursive
    - mkdir -p build-tsan
    - cd build-tsan
    - cmake -DCMAKE_BUILD_TYPE=Debug -DNO_SSL=true ..
    - make -j8 motis-test motis-itest motis motis-eval motis-cli
    - ./motis --mode test
              --dataset.path ../base/loader/test_resources/hrd_schedules/single-ice
              --dataset.begin 20151111
              --dataset.write_serialized false
              --listen.ws false
    - ./motis-test
    - ./motis-itest

# GCC 5 debug valgrind
gcc-5-debug-valgrind:
  script:
    - export BOOST_ROOT=/opt/boost_1_60_0-gcc-5
    - git submodule update --init --recursive
    - mkdir -p build-gcc-5-valgrind
    - cd build-gcc-5-valgrind
    - cmake -DCMAKE_BUILD_TYPE=Debug -DNO_SSL=true -DCTX_VALGRIND=true ..
    - make -j8 motis-test motis-itest motis motis-eval motis-cli
    - valgrind --error-exitcode=1 --show-reachable=yes --leak-check=full
      ./motis --mode test
              --dataset.path ../base/loader/test_resources/hrd_schedules/single-ice
              --dataset.begin 20151111
              --dataset.write_serialized false
              --listen.ws false
    - valgrind --error-exitcode=1 --show-reachable=yes --leak-check=full
      ./motis-test
    - valgrind --error-exitcode=1 --show-reachable=yes --leak-check=full
      ./motis-itest
  
# MSVC release
msvc-release:
  tags:
    - windows
  script:
    - set BOOTST_ROOT=C:\boost_1_60_0
    - git submodule update --init --recursive
    - mkdir build-msvc-release
    - cd build-msvc-release
    - cmake -G "NMake Makefiles JOM" -DCMAKE_BUILD_TYPE=Release -DZLIB_ROOT=C:\zlib-1.2.8 -DNO_SSL=1 -DMODULES="routing guesser" ..
    - jom motis-test motis-itest motis motis-eval motis-cli
    - motis --mode test
              --dataset.path ../base/loader/test_resources/hrd_schedules/single-ice
              --dataset.begin 20151111
              --dataset.write_serialized false
              --listen.ws false
    - motis --mode test
              --dataset.path ../base/loader/test_resources/hrd_schedules/single-ice
              --dataset.begin 20151111
              --dataset.write_serialized false
              --listen.ws false
    - motis-test
    - motis-itest

# Clang-Tidy
clang-tidy:
  script:
    - export BOOST_ROOT=/opt/boost_1_60_0-clang-3.8
    - export CXX=clang++-3.8
    - export CC=clang-3.8
    - git submodule update --init --recursive
    - mkdir build-clang-tidy
    - cd build-clang-tidy
    - cmake -DNO_SSL=true -DMOTIS_LINT=true ..
    - make -j8 lint

# Clang-Format
clang-format:
  script:
    - export BOOST_ROOT=/opt/boost_1_60_0-clang-3.8
    - git submodule update --init --recursive
    - mkdir build-clang-format
    - cd build-clang-format
    - cmake -DNO_SSL=true ..
    - make format-check
