variables:
  ASAN_SYMBOLIZER_PATH: "/opt/clang+llvm-5.0.0-linux-x86_64-ubuntu16.04/bin/llvm-symbolizer"

# GCC 7 production
gcc-7-release:
  tags:
    - bionic
  script:
    - export BOOST_ROOT=/opt/boost_1_65_1-gcc-7
    - git submodule update --init --recursive
    - mkdir -p build-gcc-7
    - cd build-gcc-7
    - cmake -GNinja -DCMAKE_BUILD_TYPE=Release ..
    - ninja -j8 motis-test motis-itest motis motis-eval motis-cli
    - ./motis --mode test
              --dataset.path ../base/loader/test_resources/hrd_schedules/single-ice
              --dataset.begin 20151111
              --dataset.write_serialized false
              --listen.ws false
    - ./motis-test
    - ./motis-itest

# Clang 5 debug with address sanitizer
clang-debug-asan:
  tags:
    - bionic
  script:
    - export CXXFLAGS="-fsanitize=address -fno-omit-frame-pointer"
    - export BOOST_ROOT=/opt/boost_1_65_1-clang-5
    - export CXX=clang++
    - export CC=clang
    - git submodule update --init --recursive
    - mkdir -p build-asan
    - cd build-asan
    - cmake -GNinja -DCMAKE_BUILD_TYPE=Debug -DCTX_ASAN=true ..
    - ninja -j8 motis-test motis-itest motis motis-eval motis-cli
    - ./motis --mode test
              --dataset.path ../base/loader/test_resources/hrd_schedules/single-ice
              --dataset.begin 20151111
              --dataset.write_serialized false
              --listen.ws false
    - ./motis-test
    - ./motis-itest

# GCC 7 debug valgrind
gcc-7-debug-valgrind:
  tags:
    - bionic
  script:
    - export BOOST_ROOT=/opt/boost_1_65_1-gcc-7
    #- export CXXFLAGS="-D_GLIBCXX_DEBUG -D_GLIBCXX_DEBUG_PEDANTIC" TODO(felix) currently not working with OSRM 
    - git submodule update --init --recursive
    - mkdir -p build-gcc-7-valgrind
    - cd build-gcc-7-valgrind
    - cmake -GNinja -DCMAKE_BUILD_TYPE=Debug -DCTX_VALGRIND=true ..
    - ninja -j8 motis-test motis-itest motis motis-eval motis-cli
    - valgrind --error-exitcode=1 --show-reachable=yes --leak-check=full
      ./motis --mode test
              --dataset.path ../base/loader/test_resources/hrd_schedules/single-ice
              --dataset.begin 20151111
              --dataset.write_serialized false
              --listen.ws false
              --ris.db_max_size 1048576
    - valgrind --error-exitcode=1 --show-reachable=yes --leak-check=full
      ./motis-test
    - valgrind --error-exitcode=1 --show-reachable=yes --leak-check=full
      ./motis-itest

# MSVC release
msvc-release:
  tags:
    - windows
  script:
    - set WD=%cd%
    - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build\vcvars64.bat"
    - cd %WD%
    - set BOOST_ROOT=C:\boost_1_65_1
    - git submodule update --init --recursive
    - mkdir build-msvc-release
    - cd build-msvc-release
    - cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DZLIB_ROOT=C:\zlib-1.2.8 -DNO_SSL=1 -DMODULES="routing guesser rt ris cc" ..
    - ninja motis-test motis-itest motis motis-eval motis-cli
    - motis --mode test
            --dataset.path ../base/loader/test_resources/hrd_schedules/single-ice
            --dataset.begin 20151111
            --dataset.write_serialized false
            --listen.ws false
    - motis-test
    - motis-itest

# MSVC debug
msvc-debug:
  tags:
    - windows
  script:
    - set WD=%cd%
    - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build\vcvars64.bat"
    - cd %WD%
    - set BOOST_ROOT=C:\boost_1_65_1
    - git submodule update --init --recursive
    - mkdir build-msvc-debug
    - cd build-msvc-debug
    - cmake -GNinja -DCMAKE_BUILD_TYPE=Debug -DZLIB_ROOT=C:\zlib-1.2.8 -DNO_SSL=1 -DMODULES="routing guesser rt ris cc" ..
    - ninja motis-test motis-itest motis motis-eval motis-cli
    - motis --mode test
            --dataset.path ../base/loader/test_resources/hrd_schedules/single-ice
            --dataset.begin 20151111
            --dataset.write_serialized false
            --listen.ws false
    - motis-test
    - motis-itest

# Clang-Tidy
clang-tidy:
  tags:
    - bionic
  script:
    - export BOOST_ROOT=/opt/boost_1_65_1-clang-5
    - export CXX=clang++
    - export CC=clang
    - git submodule update --init --recursive
    - mkdir build-clang-tidy
    - cd build-clang-tidy
    - cmake -GNinja -DMOTIS_LINT=true ..
    - ninja -j8 lint

# Clang-Format
clang-format:
  tags:
    - bionic
  script:
    - export BOOST_ROOT=/opt/boost_1_65_1-clang-5
    - git submodule update --init --recursive
    - mkdir build-clang-format
    - cd build-clang-format
    - cmake -GNinja ..
    - ninja format-check
