.settings
.cproject
.project
Bestandsstatistik.stat
Differenzstatistik.stat
/build*
/rohdaten*
*.user
*.bin
*.*~
*.zip
*.sublime-project
*.sublime-workspace
*.raw
*.db
*.sqlite
*.sqlite3
stats.csv
tracking-in-messages.txt
gmon.out
/bikesharing*
