#search, #header, #connections {
  padding: 16px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #2f2e3e;
  color: white;
  font-weight: lighter;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px rgba(0,0,0,.16);
}

#header h1 {
  font-size: 1.2em;
  margin: 0;
  font-weight: 400;
  cursor: default;
}

.app {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: relative;
  z-index: 10;
  background-color: white;
  box-shadow: 0 3px 9px rgba(0,0,0,.16);
  border-radius: 3px;
  transition: .4s ease all;
  width: 650px;
}

#overlay-content {
    overflow-y: auto;
    height: 600px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#connections {
  margin-top: -20px;
}

.connection {
  /*border: 1px solid #cccccc;*/
  margin-top: 20px;
  cursor: pointer;
}

.connections .header div {
  font-weight: bold;
}

.connections .connection-duration {
  /*display: flex;
  align-items: center;*/
  padding-top: 0.5em;
}

.all-stops {
  margin-top: 10px;
}

.train-list {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}

.train-box {
  color: white;
  padding: 4px;
  margin: 4px;
  border-radius: 8px;
  display: inline-block;
}

.train-box.train-class-0 {
  background-color: #9c27b0;
}

.train-box.train-class-1 {
  background-color: #e91e63;
}

.train-box.train-class-2 {
  background-color: #1a237e;
}

.train-box.train-class-3, .train-box.train-class-4 {
  background-color: #f44336;
}

.train-box.train-class-5 {
  background-color: #4caf50;
}

.train-box.train-class-6 {
  background-color: #3f51b5;
}

.train-box.train-class-7, .train-box.train-class-8 {
  background-color: #ff9800;
}

.train-box.train-class-9 {
  background-color: #9e9e9e;
}

.train-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.train-sep {
  height: 1em;
  margin-top: 0.2em;
  color: #ccc;
}

.neg-delay {
  color: green;
}

.pos-delay {
  color: red;
}

.train-detail {
  position: relative;
  width: 100%;
  min-height: 5em;
  padding: 2.5em 0 1em 2em;

}

.train-detail .left-border {
  position: absolute;
  top: 0px;
  left: 10px;
  height: 100%;
  border-left: 4px solid;
}

.train-detail .top-border {
  position: absolute;
  top: 0.8em;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  z-index: -10;
}

.train-detail .train-box {
  position: absolute;
  top: -4px;
  left: -4px;
}

.train-detail .train-top-line {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  text-align: center;
}

.train-detail .train-top-line span {
  padding: 4px;
  background: white;
}

.train-detail .train-dep-track {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
}

.train-detail.train-class-0 .left-border {
  border-color: #9c27b0;
}

.train-detail.train-class-1 .left-border {
  border-color: #e91e63;
}

.train-detail.train-class-2 .left-border {
  border-color: #1a237e;
}

.train-detail.train-class-3 .left-border, .train-detail.train-class-4 .left-border {
  border-color: #f44336;
}

.train-detail.train-class-5 .left-border {
  border-color: #4caf50;
}

.train-detail.train-class-6 .left-border {
  border-color: #3f51b5;
}

.train-detail.train-class-7 .left-border, .train-detail.train-class-8 .left-border {
  border-color: #ff9800;
}

.train-detail.train-class-9 .left-border {
  border-color: #9e9e9e;
}

.train-detail .stop {
  margin-bottom: 1em;
}

.train-detail .last-stop .stop {
  margin-bottom: 0;
}

.train-detail .intermediate-stops-toggle {
  margin-bottom: 1em;
  margin-left: 2em;
  cursor: pointer;
  color: #888;
}

.train-detail .intermediate-stops-toggle i {
  vertical-align: middle;
  width: 1.5em;
}

.train-detail .intermediate-stops.collapsed {
  display: none;
}

.train-detail .intermediate-stops.expanded {
  display: block;
}

.train-detail .stop .time {
  font-weight: bold;
  width: 4em;
  display: inline-block;
}

.train-detail .stop .delay {
  font-weight: bold;
  width: 4em;
  display: inline-block;
}

.connection-details {
  margin: 10px 10px 0 10px;
}

.connection-info {
  background: #76909B;
  color: #fff;
  margin: -10px -10px 0 -10px;
  padding: 10px;
  height: 80px;
}

.back {
  cursor: pointer;
  background: #ccc;
  color: #000;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}

.back i {
  vertical-align: middle;
}

.connection-info .summary {
  margin-top: 5px;
}

.connection-info .duration i, .connection-info .interchanges i {
  vertical-align: middle;
  font-size: 16px;
  margin-right: 5px;
}

.connection-info .duration {
  margin-right: 20px;
}

.connection-details .connection-journey {
    overflow-y: auto;
    height: 520px;
    padding-top: 10px;
}