.app {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: relative;
  z-index: 10;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
  transition: .4s ease all;
  width: 650px;
}

#overlay-content {
    overflow-y: auto;
    height: 600px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#search, #connections {
  padding: 32px;
}

#search {
  height: 210px;
  padding-bottom: 0;
}

#connections {
  height: 390px;
  overflow-y: auto;
  padding-top: 0px;
}

#connections .no-results,
#connections .error,
#connections .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#connections .schedule-range {
  margin-top: 1em;
}

.connection {
  /*border: 1px solid #cccccc;*/
  margin-top: 20px;
  cursor: pointer;
}

.connection.new {
  animation: fade-in-connection 1s;
}

@keyframes fade-in-connection {
  from {
    filter: grayscale(100%) opacity(0%);
  }
  to {
    filter: grayscale(0%) opacity(100%);
  }
}

.connection .delay {
  display: inline-block;
}

.connections .date-header {
  font-size: 90%;
  text-align: center;
  margin: 10px 0 -10px 0;
  display: table;
  white-space: nowrap;
  color: #4971E7;
}

.connections .date-header::before,
.connections .date-header::after {
  border-top: 1px solid #4971E7;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.6em;
  width: 45%;
}

.connections .date-header::before {
  right: 1.5%;
}

.connections .date-header::after {
  left: 1.5%;
}

.connections .connection-duration {
  /*display: flex;
  align-items: center;*/
  padding-top: 0.5em;
}

.all-stops {
  margin-top: 10px;
}

.train-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.train-list .train-box:first-of-type {
  margin-left: 0;
}

.train-list .train-box:last-of-type {
  margin-right: 0;
}

.train-box {
  color: white;
  padding: 4px;
  margin: 4px;
  border-radius: 12px;
  display: inline-block;
}

.train-box .train-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.train-box .train-name {
  margin: 0 4px 0 4px;
}

.train-sep {
  height: 1em;
  margin: 7px -4px 0 -4px;
  color: #ccc;
}

.connection .train-sep {
  cursor: pointer;
}

.train-box.train-class-0 {
  background-color: #9c27b0;
}

.train-box.train-class-1 {
  background-color: #e91e63;
}

.train-box.train-class-2 {
  background-color: #1a237e;
}

.train-box.train-class-3,
.train-box.train-class-4 {
  background-color: #f44336;
}

.train-box.train-class-5 {
  background-color: #4caf50;
}

.train-box.train-class-6 {
  background-color: #3f51b5;
}

.train-box.train-class-7,
.train-box.train-class-8 {
  background-color: #ff9800;
}

.train-box.train-class-9 {
  background-color: #9e9e9e;
}

.train-box.train-class-walk {
  background-color: #333;
}

.extend-search-interval {
  margin: 5px auto;
  text-align: center;
  min-height: 24px;
}

.extend-search-interval a {
  cursor: pointer;
  background: #777;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.extend-search-interval.search-before {
  margin-bottom: 20px;
}

.extend-search-interval.search-after {
  margin-top: 20px;
}

.neg-delay {
  color: green;
}

.pos-delay {
  color: red;
}

.train-detail {
  position: relative;
  width: 100%;
  min-height: 5em;
  padding: 3em 0 1.5em 2em;
}

.train-detail .left-border {
  position: absolute;
  top: 0px;
  left: 10px;
  height: 100%;
  border-left: 4px solid;
}

.train-detail .top-border {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  z-index: -10;
}

.train-detail .train-box {
  position: absolute;
  top: -4px;
  left: -4px;
  box-shadow: 4px 0px 0px 0px #fff;
}

.train-detail .train-top-line {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #777;
}

.train-detail .train-top-line span {
  padding: 4px;
  background: white;
}

.train-detail .train-dep-track,
.train-detail .train-arr-track {
  position: absolute;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: white;
  color: #777;
  font-weight: 300;
  box-shadow: -4px 0px 0px 0px #fff;
}

.train-detail .train-dep-track {
  top: 0px;
  right: 0px;
}

.train-detail .train-arr-track {
  bottom: 20px;
  right: 0px;
}

.train-detail:not(:last-of-type) .train-arr-track {
  display: none;
}

.train-detail.train-class-0 .left-border {
  border-color: #9c27b0;
}

.train-detail.train-class-1 .left-border {
  border-color: #e91e63;
}

.train-detail.train-class-2 .left-border {
  border-color: #1a237e;
}

.train-detail.train-class-3 .left-border,
.train-detail.train-class-4 .left-border {
  border-color: #f44336;
}

.train-detail.train-class-5 .left-border {
  border-color: #4caf50;
}

.train-detail.train-class-6 .left-border {
  border-color: #3f51b5;
}

.train-detail.train-class-7 .left-border,
.train-detail.train-class-8 .left-border {
  border-color: #ff9800;
}

.train-detail.train-class-9 .left-border {
  border-color: #9e9e9e;
}

.train-detail.train-class-walk .left-border {
  border-color: #333;
}

.train-detail .stop {
  margin-bottom: 1em;
}

.train-detail .stop span {
  background-color: white;
  padding: 0 6px;
}

.train-detail .intermediate-stops .stop {
  margin-bottom: 2em;
}

.train-detail .intermediate-stops .stop::before,
.train-detail:last-of-type .last-stop .stop::before {
  content: "";
  position: absolute;
  left: 7px;
  margin-top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: -7px 0px 0px 0px #fff;
}

.train-detail:last-of-type .last-stop .stop::after {
  content: "";
  position: absolute;
  left: 10px;
  margin-top: 10px;
  width: 0px;
  height: 2.5em;
  border-left: 4px solid #fff;
  z-index: 5;
  box-shadow: 7px 0px 0px 0px #fff;
}

.train-detail:last-of-type .last-stop::after {
  content: "";
  position: absolute;
  bottom: 33px;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  z-index: -10;
}

.train-detail.train-class-0 .stop::before {
  background-color: #9c27b0;
}

.train-detail.train-class-1 .stop::before {
  background-color: #e91e63;
}

.train-detail.train-class-2 .stop::before {
  background-color: #1a237e;
}

.train-detail.train-class-3 .stop::before,
.train-detail.train-class-4 .stop::before {
  background-color: #f44336;
}

.train-detail.train-class-5 .stop::before {
  background-color: #4caf50;
}

.train-detail.train-class-6 .stop::before{
  background-color: #3f51b5;
}

.train-detail.train-class-7 .stop::before,
.train-detail.train-class-8 .stop::before {
  background-color: #ff9800;
}

.train-detail.train-class-9 .stop::before {
  background-color: #9e9e9e;
}

.train-detail.train-class-walk .stop::before {
  background-color: #333;
}

.train-detail .last-stop .stop {
  margin-bottom: 0;
}

.train-detail .direction {
  font-weight: 300;
  color: #888;
  margin: -10px 0 0 2px;
}

.train-detail .direction i {
  color: #ccc;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 2px;
  margin-top: -4px;
}

.train-detail .intermediate-stops-toggle {
  margin: 2em 0 2em 2em;
  font-weight: 300;
  color: #888;
}

.train-detail .intermediate-stops-toggle.clickable {
  cursor: pointer;
}

.train-detail .intermediate-stops.collapsed {
  display: none;
}

.train-detail .intermediate-stops.expanded {
  display: block;
}

.expand-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
}

.expand-icon i {
  position: absolute;
  vertical-align: middle;
}

.expand-icon i:first-of-type {
  position: absolute;
  top: 0px;
}

.expand-icon i:last-of-type {
  position: absolute;
  top: 12px;
}

.train-detail .intermediate-stops-toggle span {
  margin-left: 10px;
}

.train-detail .stop .time {
  font-weight: bold;
  width: 4em;
  display: inline-block;
}

.train-detail .stop .delay {
  font-weight: bold;
  width: 4em;
  display: inline-block;
}

.connection-info {
  height: 110px;
  margin: 0;
  padding: 20px 24px;
  font-weight: 300;
  border-bottom: 1px solid #4971E7;
}

.connection-info .connection-times {
  font-weight: 700;
  text-align: right;
  padding-right: 10px;
}

.back {
  cursor: pointer;
  font-size: 24px;
  padding: 2px 10px 10px 9px;
  border: 1px solid #ccc;
  border-radius: 23px;
  width: 44px;
  height: 44px;
  display: inline-block;
}

.back i {
  vertical-align: middle;
  cursor: pointer;
}

.back:hover {
  background: #eee;
}

.connection-info .summary {
  margin-top: 5px;
}

.connection-info .duration i, .connection-info .interchanges i {
  vertical-align: baseline;
  font-size: 16px;
  margin-right: 5px;
}

.connection-info .duration {
  margin-right: 20px;
}

.connection-details .connection-journey {
    overflow-y: auto;
    height: 490px;
    padding: 20px 20px 0 20px;
}