#search, #header, #connections {
  padding: 16px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #2f2e3e;
  color: white;
  font-weight: lighter;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px rgba(0,0,0,.16);
}

#header h1 {
  font-size: 1.2em;
  margin: 0;
  font-weight: 400;
  cursor: default;
}

.app {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: relative;
  z-index: 10;
  background-color: white;
  box-shadow: 0 3px 9px rgba(0,0,0,.16);
  border-radius: 3px;
  transition: .4s ease all;
  width: 650px;
  height: 640px;
  overflow-y: auto;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.connection {
  border: 1px solid #cccccc;
  margin-top: 20px;
}

.connections .header div {
  font-weight: bold;
}

.all-stops {
  margin-top: 10px;
}

.train-box {
  color: white;
  padding: 4px;
  margin: 4px;
  border-radius: 8px;
  display: inline-block;
}

.train-class-0 {
  background-color: #9c27b0;
}

.train-class-1 {
  background-color: #e91e63;
}

.train-class-2 {
  background-color: #1a237e;
}

.train-class-3, .train-class-4 {
  background-color: #f44336;
}

.train-class-5 {
  background-color: #4caf50;
}

.train-class-6 {
  background-color: #3f51b5;
}

.train-class-7, .train-class-8 {
  background-color: #ff9800;
}

.train-class-9 {
  background-color: #9e9e9e;
}

.train-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}