@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  padding: 0;
  margin: 0;
}

.layer {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

.overlay {
  z-index: 10;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 14px 45px rgba(0, 0, 0, 0.25), 0px 10px 18px rgba(0, 0, 0, 0.22) !important;
}

.topbar {
  text-align: right;
  margin-bottom: -45px;
}
