.conWrap {
  overflow: auto;
  margin-top: 20px;
}

.con {
  list-style: none;
  padding: 0;
  overflow: auto;
}

.stop {
  padding: 1em 0;
}

.arrival, .departure {
  font-size: 0.85em;
}

.trainId {
  float: right;
}
