.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexrow {
  display: flex;
}

.flexrow > * {
  padding-left: 20px;
}

.flexrow > div:first-child {
  padding-left: 0;
}
